<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OSXSpecs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Specs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F2CCA8017FCE3D700A382AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2CCA9017FCE3D700A382AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2CCAAD17FCE48E00A382AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F43228E17FE2C94001293C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
